.form-control {
    background-color: #24292e;
    border-color: #444d56;
}
.form-control {
    border-color: #444d56;
}
.form-control:focus {
    color: #24292e;
    background-color: #fff;
    outline: 0;
    box-shadow: none;
}