.colored-block {
    border-color: #e1e4e8;
}

.avatar, .avatar-img {
    width: 120px;
    border-radius: 50%;
}

.repo-name {
    font-size: 18px;
}

button a {
    text-decoration: none;
    color: #fff;
}

.bread-crumbs span {
    cursor: pointer;
}